################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/e9d57d0e-cdfe-4531-8582-1139504a0ac4.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/2ae3a139-62a8-4f57-afef-fbf45a0df95a.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/35126bdc-b19c-47fa-86c8-50608f74a4e5.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/4dddf295-b638-4c56-96eb-c1b63a1538ba.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/e0c0bc80-4e9e-4760-b87e-2e4d077620a8.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/4c403e72-e55e-4d80-b439-ddd7173e5174.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/9be6b137-73db-4924-ad41-2ddd8a1f5261.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/b639512f-1f5b-4df5-a0c9-1ab23e653ee5.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/f19cac1b-86dc-474a-a4a2-69d7054ce0d9.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/f2be5542-59d7-41b6-ba4f-49b2c2033ea1.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/000d22ed-286b-4fc9-874d-4396942b5ae1.vsidx
