################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/e9d57d0e-cdfe-4531-8582-1139504a0ac4.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/2ae3a139-62a8-4f57-afef-fbf45a0df95a.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/35126bdc-b19c-47fa-86c8-50608f74a4e5.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/4dddf295-b638-4c56-96eb-c1b63a1538ba.vsidx
/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/e0c0bc80-4e9e-4760-b87e-2e4d077620a8.vsidx
