################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TranAnhBadminton/.vs/TranAnhBadminton/FileContentIndex/e9d57d0e-cdfe-4531-8582-1139504a0ac4.vsidx
